## Programming for Data Analyis Project Semester (2) 2020
Brendan Ryan GMIT

I have picked on a real world phenomenon in my own professional life. This is what  is the likelyhood of a member of the financial institution I work in availing of a service (in this case take a loan), based on their age, sex and employment status and then look at the the type of product they normally borrow for.

I will be using the following variables

- AGE
- Gender
- Loan Category
- Employment Status

In [ ]:
Import the required libraries
** Give brief descriptoin of what each library does..

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
Import our Data Set based on the output of ones years lending

In [4]:
import pandas as pd
df = pd.read_csv('test.csv')

Test that our data set has loaded
** note maybe add in here only to load some rows

In [6]:
df

,Financial Month,Age,Loan Interest Code Description,Gender,Employment Status
0,Jan-19,20,SECURED BY SAVINGS 6% APR,FEMALE,EMPLOYED FULL-TIME
1,Jan-19,21,NORMAL RATE 10.4% APR,Male,EMPLOYED PART-TIME
2,Jan-19,22,CONNECT FIRST TIME 7.12% APR,Male,EMPLOYED FULL-TIME
3,Jan-19,22,NORMAL RATE 10.4% APR,Male,EMPLOYED FULL-TIME
4,Jan-19,22,NORMAL RATE 10.4% APR,Male,UNEMPLOYED
...,...,...,...,...,...
4024,Dec-19,80,SPECIAL CAR RATE 8.5 APR,Male,RETIRED
4025,Dec-19,81,NORMAL RATE 10.4% APR,FEMALE,RETIRED
4026,Dec-19,82,NORMAL RATE 10.4% APR,FEMALE,RETIRED
4027,Dec-19,85,SECURED BY SAVINGS 6% APR,FEMALE,RETIRED
4028,Dec-19,89,SECURED BY SAVINGS 6% APR,FEMALE,OTHER

Test that our improted data looks ok by using df.head and df.tail

In [7]:
df.head()

,Financial Month,Age,Loan Interest Code Description,Gender,Employment Status
0,Jan-19,20,SECURED BY SAVINGS 6% APR,FEMALE,EMPLOYED FULL-TIME
1,Jan-19,21,NORMAL RATE 10.4% APR,Male,EMPLOYED PART-TIME
2,Jan-19,22,CONNECT FIRST TIME 7.12% APR,Male,EMPLOYED FULL-TIME
3,Jan-19,22,NORMAL RATE 10.4% APR,Male,EMPLOYED FULL-TIME
4,Jan-19,22,NORMAL RATE 10.4% APR,Male,UNEMPLOYED

In [8]:
df.tail()

,Financial Month,Age,Loan Interest Code Description,Gender,Employment Status
4024,Dec-19,80,SPECIAL CAR RATE 8.5 APR,Male,RETIRED
4025,Dec-19,81,NORMAL RATE 10.4% APR,FEMALE,RETIRED
4026,Dec-19,82,NORMAL RATE 10.4% APR,FEMALE,RETIRED
4027,Dec-19,85,SECURED BY SAVINGS 6% APR,FEMALE,RETIRED
4028,Dec-19,89,SECURED BY SAVINGS 6% APR,FEMALE,OTHER

Everything looks ok above we can see the shape of our dataframe is correct