## Programming for Data Analyis Project Semester (2) 2020
Brendan Ryan GMIT

I have picked on a real world phenomenon in my own professional life. This is what  is the likelyhood of a member of the finanical instituion I work in availing of a service (in this case take a loan), based on their age, sex and employment status and then look at the the type of product they normally borrow for.

I will be using the following varibales

AGE 
SEX
LOAN PRODUCT
EMPLOYMENNT STATUS
LIKELY TO BORROW

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
import pandas as pd
df = pd.read_csv('test.csv')

In [5]:
df.dtypes

Financial Month                   object
Age                                int64
Loan Interest Code Description    object
Gender                            object
Employment Status                 object
dtype: object

In [16]:
df

,Financial Month,Age,Loan Interest Code Description,Gender,Employment Status
0,Jan-19,20,SECURED BY SAVINGS 6% APR,FEMALE,EMPLOYED FULL-TIME
1,Jan-19,21,NORMAL RATE 10.4% APR,Male,EMPLOYED PART-TIME
2,Jan-19,22,CONNECT FIRST TIME 7.12% APR,Male,EMPLOYED FULL-TIME
3,Jan-19,22,NORMAL RATE 10.4% APR,Male,EMPLOYED FULL-TIME
4,Jan-19,22,NORMAL RATE 10.4% APR,Male,UNEMPLOYED
...,...,...,...,...,...
4024,Dec-19,80,SPECIAL CAR RATE 8.5 APR,Male,RETIRED
4025,Dec-19,81,NORMAL RATE 10.4% APR,FEMALE,RETIRED
4026,Dec-19,82,NORMAL RATE 10.4% APR,FEMALE,RETIRED
4027,Dec-19,85,SECURED BY SAVINGS 6% APR,FEMALE,RETIRED
4028,Dec-19,89,SECURED BY SAVINGS 6% APR,FEMALE,OTHER

In [18]:
df["Age"]

0       20
1       21
2       22
3       22
4       22
        ..
4024    80
4025    81
4026    82
4027    85
4028    89
Name: Age, Length: 4029, dtype: int64

In [19]:
df["Gender"]

0       FEMALE
1         Male
2         Male
3         Male
4         Male
         ...
4024      Male
4025    FEMALE
4026    FEMALE
4027    FEMALE
4028    FEMALE
Name: Gender, Length: 4029, dtype: object

In [20]:
df.head

<bound method NDFrame.head of      Financial Month  Age Loan Interest Code Description  Gender  \
0             Jan-19   20      SECURED BY SAVINGS 6% APR  FEMALE
1             Jan-19   21          NORMAL RATE 10.4% APR    Male
2             Jan-19   22   CONNECT FIRST TIME 7.12% APR    Male
3             Jan-19   22          NORMAL RATE 10.4% APR    Male
4             Jan-19   22          NORMAL RATE 10.4% APR    Male
...              ...  ...                            ...     ...
4024          Dec-19   80       SPECIAL CAR RATE 8.5 APR    Male
4025          Dec-19   81          NORMAL RATE 10.4% APR  FEMALE
4026          Dec-19   82          NORMAL RATE 10.4% APR  FEMALE
4027          Dec-19   85      SECURED BY SAVINGS 6% APR  FEMALE
4028          Dec-19   89      SECURED BY SAVINGS 6% APR  FEMALE

       Employment Status
0     EMPLOYED FULL-TIME
1     EMPLOYED PART-TIME
2     EMPLOYED FULL-TIME
3     EMPLOYED FULL-TIME
4             UNEMPLOYED
...                  ...
4024             RETIRED
4025             RETIRED
4026             RETIRED
4027             RETIRED
4028               OTHER

[4029 rows x 5 columns]>